*{
	box-sizing: border-box;
}

body {
	background-color: blanchedalmond;
	margin: 0;
	padding: 0;
	height: 100%;
};

.loader{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.movies{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 50px;
	margin: 50px;
	width: 80%;
}

.movies .movie{
	margin-bottom: 70px;
	width: 40%;
	height: 5%;
	background-color: white;
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	box-shadow: 0 13px 27px -5px 0;
}

.movie img{
	max-width: 180px;
	width: 100%;
	top: -50px;
	position: relative;
	margin-right: 30px;
}

.movie h3, .movie h5{
	font-weight: 300;
}
